.darkmode {
    background-color: #110038;
}

.darkmode .title {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
    height: 23px;
    width: 1438px;
}

.darkmode .title h1 {
    font-family: 'ChakraPetch-Regular';
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 8px;
    padding-top: 4px;
}

.darkmode .contLogo {
    display: flex;
    justify-content: space-between;
}

.darkmode .contLogo img {
    padding-left: 91px;
    padding-top: 35px;
    cursor: pointer;
}

.darkmode .opciones { 
    padding-right: 140.5px;
}

.darkmode .button1 {
    height: 36px;
    width: 144px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: 16px;
}

.darkmode .button1 p {
    font-family: "ChakraPetch-Regular";
    position: relative;
    top: 6px;
    padding-left: 26.5px;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
}

.darkmode .button1:hover {
    border: 1px dotted #110038;
}

.darkmode .button2 {
    height: 36px;
    width: 131px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.darkmode .button2:hover {
    border: 1px dotted #110038;
}

.darkmode .button3 {
    height: 36px;
    width: 36px;
    color: #FFFFFF;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    margin-left: -5px;
    margin-right: 16.5px;
    padding-top: 1px;
}

.darkmode .button3:hover {
    border: 1px dotted #110038;
}

.darkmode .button4 {
    border: 0;
    background-color: transparent;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
}

.darkmode .button4 a {
    text-decoration: none;
    position: relative;
    top: 5px;
}

.darkmode .button4:hover {
    border: 1px dotted #FFFFFF;
}

.darkmode #menuDesp {
    width: 170px;
    height: 102px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 161px;
    display: none;
}

.darkmode #menuDesp #light{
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    width: 150px;
    height: 36px;
    margin: 10px;
}

.darkmode #menuDesp #light:hover {
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

.darkmode #menuDesp #dark{
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    width: 150px;
    height: 36px;
    margin-left: 10px;
}

.darkmode #menuDesp #dark:hover {
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

.darkmode .underline {
	border-bottom: 1px solid;
}

.darkmode .opciones {
    padding-top: 44px;
}

.darkmode .barraBuscadora {
    height: 99px;
    width: 1200px;
    margin-left: 100px;
    margin-top: 16px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.darkmode .textoBarra {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.darkmode .textoBarra p {
    font-family: "ChakraPetch-Bold";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 3px;
}

.darkmode .contBusc {
    display: flex;
}

.darkmode .buscador {
    padding-left: 15px;
    padding-top: 12px;
}

.darkmode .buscador input{
    height: 48px;
    width: 1057px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
    padding-left: 16px;
}

.darkmode .btnSearch {
    padding-top: 18px;
    padding-left: 8px;
}

.darkmode .lupa {
    height: 16px;
    width: 16px;
}

.darkmode .btnSearch p {
    padding-left: 5px;
}

.darkmode .btnSearch button {
    height: 36px;
    width: 102px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 18px;
    display: flex;
    flex-direction: column wrap;
    justify-content: center;
    padding-top: 7px;
}

.darkmode .resultados { 
    height: 166px;
    width: 1200px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 100px;
}

.darkmode .resultados div {
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.darkmode .resultBusq {
    padding-left: 16px;
    padding-top: 17px;
    height: 34px;
    width: 1055px;
}

.darkmode .resultBusq2 {
    padding-left: 16px;
    padding-top: 11px;
    height: 36px;
    width: 1057px;
}

.darkmode .resultBusq3 {
    padding-left: 16px;
    padding-top: 10px;
    height: 36px;
    width: 1057px;
}

.darkmode .resultUnic {
    border: 1px solid #110038;
    font-family: 'Chakra Petch';
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    padding-top: 6px;
    padding-left: 15px;
}

.darkmode .resultSimilar { 
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    padding-top: 7px;
    padding-left: 16px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.darkmode .resultOtros { 
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    padding-top: 7px;
    padding-left: 16px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.darkmode .tituloSugerencias {
    height: 32px;
    width: 1200px;
    padding-left: 100px;
    padding-top: 64px;
}

.darkmode .tituloSugerencias h2 {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    font-family: "ChakraPetch";
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    padding: 7px;
}

.darkmode .sugerencias { 
    display: flex;
    padding-left: 100px;
    padding-top: 16px;
}

.darkmode .sugerencias .contenedorDiv1 {
    display: flex;
    flex-direction: column;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 288px;
    height: 313px;
    margin-right: 16px;
}

.darkmode .sugerencias .botonDiv img {
    width: 275px;
    height: 276px;
}

.darkmode .contenedorDiv1:hover {
    border: 1px dotted #110038;
}

.darkmode .tituloDiv { 
    display: flex;
    width: 280px;
    height: 24px;
    justify-content: space-between;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    margin: 4px 3px 4px;
}

.darkmode .tituloDiv p {
    font-family: "ChakraPetch-Bold";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 4px; 
    margin-left: 5px;
}

.darkmode .tituloDiv img { 
    padding-right: 4px;
}

.darkmode .botonDiv {
    padding-left: 7px;
}

.darkmode .botonDiv button{
    border: 1px solid #4C2F99;
    font-family: "ChakraPetch-Regular";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 10px 8px 10px 8px;
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    bottom: 50px;
    left: 10px;
    position: relative;
    cursor: pointer;
}

.darkmode .tituloTendencias {
    height: 32px;
    width: 1200px;
    padding-left: 100px;
    padding-top: 64px;
}

.darkmode .tituloTendencias h2 {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    font-family: "ChakraPetch";
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    padding: 7px;
}

.darkmode #tendencias {
    display: grid;
    grid-template-columns: 294px 288px 288px 288px;
    grid-template-rows: 304px 298px 300px;
    grid-template-areas:
    "uno dos tres cuatro"
    "cinco cinco seis siete"
    "ocho nueve diez diez";
    grid-gap: 16px;
    padding-left: 100px;
    padding-top: 17px;
}

.darkmode #tendencias .uno {
    grid-area: uno;
}

.darkmode #tendencias .uno img {
    width: 294px;
    height: 304px;
}

.darkmode #tendencias .dos {
    grid-area: dos;
}

.darkmode #tendencias .dos img {
    width: 288px;
    height: 304px;
}

.darkmode #tendencias .tres {
    grid-area: tres;
}

.darkmode #tendencias .tres img {
    width: 288px;
    height: 304px;
}

.darkmode #tendencias .cuatro {
    grid-area: cuatro;
}

.darkmode #tendencias .cuatro img {
    width: 283px;
    height: 304px;
}

.darkmode #tendencias .cinco {
    grid-area: cinco;
}

.darkmode #tendencias .cinco img {
    width: 600px;
    height: 298px;
}

.darkmode #tendencias .seis {
    grid-area: seis;
}

.darkmode #tendencias .seis img {
    width: 288px;
    height: 298px;
}

.darkmode #tendencias .siete {
    grid-area: siete;
}

.darkmode #tendencias .siete img {
    width: 283px;
    height: 298px;
}

.darkmode #tendencias .ocho {
    grid-area: ocho;
}

.darkmode #tendencias .ocho img {
    width: 294px;
    height: 300px;
}

.darkmode #tendencias .nueve {
    grid-area: nueve;
}

.darkmode #tendencias .nueve img {
    width: 290px;
    height: 300px;
}

.darkmode #tendencias .diez {
    grid-area: diez;
}

.darkmode #tendencias .diez img {
    width: 589px;
    height: 298px;
}

.darkmode .divBusqueda img {
    width: 290px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}



















//Upload//

.darkmode .tituloMisGuifos h2 {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #ac9ea9, inset 2px 2px 0 0 #80687D;
    font-family: "ChakraPetch";
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    padding: 7px;
}


//Carga// 
#contenedorCarga {
    width: 684px;
    height: 386px;
    margin-left: 378px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: none;
    margin-top: 78px;
}

.darkmode .tituloCarga {
    height: 24px;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.darkmode .tituloCarga h2{
    font-family: "ChakraPetch-Bold";
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 4px;
    padding-top: 6.4px;
}

.interno {
    display: flex;
}

.interno img {
    padding-left: 25px;
    padding-top: 30px;
}

.interno h2 {
    font-family: "ChakraPetch-Bold";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    padding-top: 30px;
    padding-left: 16px;
}

#contenedorCarga .textoInterno {
    font-family: "ChakraPetch-Regular";
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
    height: 190px;
    width: 518px;
    padding-left: 73px;
    padding-top: 17px;
}

#contenedorCarga .textoInterno li {
    margin-top: 10px;
    list-style: none;
}

.botonesInternos {
    margin-left: 344px;
    margin-top: 28px;
}

.botonesInternos button {
    width: 144px;
    height: 36px;
}

.darkmode #botonUnoInterno{
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: 16px;
    width: 144px;
    height: 36px;
}

.darkmode #botonUnoInterno a{
    text-decoration: none;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    position: relative;
    top: 7px;
    left: 39.5px;
}   

.darkmode #botonDosInterno {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}


//Chequeo//
.contenedorChequeo {
    width: 860px;
    height: 548px;
    margin-left: 265px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: none;
}

.tituloChequeo {
    display: flex;
    justify-content: space-between;
}

.tituloChequeo h2 {
    font-family: "ChakraPetch-Bold";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.tituloChequeo img {
    padding-right: 10px;
}

.darkmode .tituloChequeo {
    height: 24px;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.darkmode .tituloChequeo h2{
    font-family: "ChakraPetch-Bold";
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 4px;
    padding-top: 3.4px;
}

.gifInterno {
    height: 434px;
    margin-left: 11px;
    margin-top: 11px;
    width: 800px;
    display: block;
}

.botonesChequeo {
    margin-left: 663px;
    margin-top: 28px;
}

.darkmode #botonFoto {
    width: 36px;
    height: 36px;
    background: #EE3EFE;
    color: white;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.darkmode #botonFotoDos {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 36px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: white;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-left: -5px;
    position: relative;
    top: -1px;
}

#botonesListo {
    margin-left: 663px;
    margin-top: 28px;
    display: flex;
}

#botonesListoOculto {
    display: none;
}

.darkmode #botonListo {
    background: #ff6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 36px;
    height: 36px;
}

.darkmode #botonFotoListo {
    background: #ff6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 36px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-right: 18px;
    position: relative;
}

#gif_preview {
    display: none;
    padding-top: 11px;
    padding-left: 11px;
    width: 832px;
    height: 434px;
}

#botonesConfirmaryRepetir {
    margin-left: 542px;
    margin-top: 28px;
}

#botonesConfirmar {
    display: flex;
}

.darkmode #botonRepetir {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    width: 144px;
    height: 36px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: white;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-right: 14px;
}

.darkmode #botonSubir {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    width: 144px;
    height: 36px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: white;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.darkmode .contenedorPreview {
    width: 860px;
    height: 548px;
    margin-left: 265px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: none;
}

.gifCreado {
    padding-left: 100px;
    padding-top: 16px;
}

.tiempo {
    font-family: "ChakraPetch-Regular";
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}

.darkmode #contenedorSubiendo {
    width: 854px;
    height: 548px;
    margin-left: 265px;
    margin-top: 88px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: none;
}

.contenedorInterno {
    background: white;
    width: 838px;
    height: 440px;
    margin: 8px;
    border: black;
    border: 1px solid black;
}

.subiendo {
    font-family: "ChakraPetch-Bold";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.mundo { 
    padding-left: 406px;
    padding-top: 174px;
}

#contenedorCancelar {
    margin-left: 702px;
    margin-top: 21px;
}

#botonCancelar {
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 36px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.progressBar {
    display: flex;
    align-items: center;
    width: 324px;
    height: 24px;
    background: #b4b4b4;
    margin-left: 257px;
    margin-top: 39px;
    visibility: hidden;
}

.progressBarPart {
    margin-right: 2px;
    width: 12px;
    height: 20px;
    background-color: #999999;
}

.progressBarPartEnabled {
    background-color: #f7c9f3;
}

.visible {
    visibility: visible;
}

.contenedorFinal {
    width: 715px;
    height: 391px;
    margin-left: 360px;
    margin-top: 85px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: none;
}

.contenedorAdentro {
    display: flex;
}

.contAdentro {
    display: inline;
}

.contAdentro p {
    font-family: "ChakraPetch-Bold";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 76px;
}

#botonAdentro1 {
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 256px;
    height: 36px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-top: 16px;
}

#botonAdentro2 {
    margin-top: 14px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 256px;
    height: 36px;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

#otroGif {
    width: 365px;
    height: 191px;
    padding-right: 20px;
    margin-left: -70px;
}

.ultimoBoton button {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    width: 144px;
    height: 36px;
    margin-top: 44px;
    margin-left: 531px;
}
  

